p{
  margin-top: 0px;
  margin-bottom: 8px;
  padding: 0px;
}

.body-container{
  display: flex;
  flex-direction: row;
}


.container{
  border: 1px solid whitesmoke;
  border-radius: 2px 2px 2px 2px;
  margin:16px;
  padding: 16px;
}

.questions{
  width: 500px;
  margin: auto;
}

.card {
  border-left: 2px solid whitesmoke;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, .1);
  margin:16px;
  padding: 16px;
}

.card:hover{
  box-shadow: 0px 1px 16px rgba(0, 0, 0, .1);
}

.flat-card {
  border-left: 2px solid whitesmoke;
  margin:16px;
  padding: 16px;
}

button {
  border: 2px solid whitesmoke;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  color: grey;
  padding: 8px;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

button:hover{
  color: orange;
  border: 2px solid orange;
}

input {
  font-family: 'Open Sans';
  border: 2px solid whitesmoke;
  border-radius: 10px 10px 10px 10px;
  outline: none;
  padding: 8px;
}

input:hover{
  color: orange;
  border: 2px solid orange;
}

hr {
  border: 1px solid whitesmoke;
}

.App {
  display: flex;
  flex-direction: column;
}


.question-adder{
  text-align: center;
}

.question-box {
  display: flex;
  justify-content: center;
}

.control-icon {
  margin-left: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.control-icon:hover{
  color: orange;
}

.controls {
  color: lightslategray;
  font-size: 1em;
  border-left: 2px solid whitesmoke;
}


.add-button{
  cursor: pointer;
  color: darkorange;
  padding: 4px;
}

.add-button:hover{
  color: orangered;
}

.question{
  font-family: 'Open Sans';
  font-size: 1.5em;
}

.answer{
  font-family: 'Open Sans';
  color: grey;
  font-size: 1.25em;
}

.comment{
  font-family: 'Open Sans';
  color: darkgrey;
  font-size: 1em;
}