body{
  font-size: 1.6em;
  color: lightblue;
}


.container{
  border: 1px solid whitesmoke;
  border-radius: 2px 2px 2px 2px;
  margin:16px;
  padding: 16px;
}

.card {
  border-left: 2px solid whitesmoke;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, .1);
  margin:16px;
  padding: 16px;
}

.flat-card {
  border-left: 2px solid lightblue;
  margin:16px;
  padding: 16px;
}

button {
  border: 2px solid whitesmoke;
  border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  background-color: white;
  color: lightblue;
  padding: 8px;
  box-sizing: border-box;
}

button:hover{
  background-color: lightblue;
  color: white;
  border: 2px solid lightblue;
}

input {
  border: 2px solid whitesmoke;
  border-radius: 2px 2px 2px 2px;
  padding: 8px;
}

hr {
  border: 1px solid whitesmoke;
}

.App {
  display: flex;
  flex-direction: column;
}


.question-adder{
  cursor: pointer;
  text-align: center;
}

.question-box {
  display: flex;
  justify-content: center;
}

.subtitle {
  color: grey;
  font-size: .7em;
  border-left: 2px solid whitesmoke;
  margin-top: 8px;
  padding-left: 16px;
}